//! **************************************************************************
// Written by: Map P.15xf on Tue Oct 11 16:55:19 2022
//! **************************************************************************

SCHEMATIC START;
TIMEGRP HCLK = BEL "u_logic/Fed3z4" BEL "u_logic/T7d3z4" BEL "u_logic/Bus2z4"
        BEL "u_logic/Tqs2z4" BEL "u_logic/Dks2z4" BEL "u_logic/Vgs2z4" BEL
        "u_logic/X9n2z4" BEL "u_logic/G8n2z4" BEL "u_logic/Usl2z4" BEL
        "u_logic/B2i3z4" BEL "u_logic/Ieh3z4" BEL "u_logic/I1h3z4" BEL
        "u_logic/T5g3z4" BEL "u_logic/W3f3z4" BEL "u_logic/Kxe3z4" BEL
        "u_logic/Bge3z4" BEL "u_logic/G6d3z4" BEL "u_logic/Cma3z4" BEL
        "u_logic/C9a3z4" BEL "u_logic/L7a3z4" BEL "u_logic/D4a3z4" BEL
        "u_logic/Xyn2z4" BEL "u_logic/L8m2z4" BEL "u_logic/Aii3z4" BEL
        "u_logic/Bjd3z4" BEL "u_logic/Lhd3z4" BEL "u_logic/Vfd3z4" BEL
        "u_logic/Zad3z4" BEL "u_logic/J9d3z4" BEL "u_logic/Pcd3z4" BEL
        "u_logic/Bmb3z4" BEL "u_logic/Kkb3z4" BEL "u_logic/Tib3z4" BEL
        "u_logic/Xdb3z4" BEL "u_logic/Gcb3z4" BEL "u_logic/S5b3z4" BEL
        "u_logic/Tna3z4" BEL "u_logic/Pab3z4" BEL "u_logic/P2a3z4" BEL
        "u_logic/B1a3z4" BEL "u_logic/S4w2z4" BEL "u_logic/C3w2z4" BEL
        "u_logic/Pet2z4" BEL "u_logic/Adt2z4" BEL "u_logic/Y9t2z4" BEL
        "u_logic/Y6t2z4" BEL "u_logic/Mbt2z4" BEL "u_logic/R0t2z4" BEL
        "u_logic/Azs2z4" BEL "u_logic/Jxs2z4" BEL "u_logic/Svs2z4" BEL
        "u_logic/Kss2z4" BEL "u_logic/Cps2z4" BEL "u_logic/Lns2z4" BEL
        "u_logic/Uls2z4" BEL "u_logic/Mis2z4" BEL "u_logic/Wxp2z4" BEL
        "u_logic/Aqp2z4" BEL "u_logic/Nen2z4" BEL "u_logic/Qrp2z4" BEL
        "u_logic/Axm2z4" BEL "u_logic/H8l2z4" BEL "u_logic/Q6l2z4" BEL
        "u_logic/Uqi2z4" BEL "u_logic/Zei2z4" BEL "u_logic/Z4l2z4" BEL
        "u_logic/Joi3z4" BEL "u_logic/Umi3z4" BEL "u_logic/Fli3z4" BEL
        "u_logic/Qji3z4" BEL "u_logic/Cai3z4" BEL "u_logic/N8i3z4" BEL
        "u_logic/J5i3z4" BEL "u_logic/Y6i3z4" BEL "u_logic/M0i3z4" BEL
        "u_logic/Xyh3z4" BEL "u_logic/Ixh3z4" BEL "u_logic/Tvh3z4" BEL
        "u_logic/Euh3z4" BEL "u_logic/Psh3z4" BEL "u_logic/Arh3z4" BEL
        "u_logic/Lph3z4" BEL "u_logic/Wnh3z4" BEL "u_logic/Hmh3z4" BEL
        "u_logic/Skh3z4" BEL "u_logic/Djh3z4" BEL "u_logic/Tch3z4" BEL
        "u_logic/P9h3z4" BEL "u_logic/A8h3z4" BEL "u_logic/Ebh3z4" BEL
        "u_logic/Eyg3z4" BEL "u_logic/Pwg3z4" BEL "u_logic/Avg3z4" BEL
        "u_logic/Ltg3z4" BEL "u_logic/Wrg3z4" BEL "u_logic/Sog3z4" BEL
        "u_logic/Dng3z4" BEL "u_logic/Hqg3z4" BEL "u_logic/Olg3z4" BEL
        "u_logic/Zjg3z4" BEL "u_logic/Kig3z4" BEL "u_logic/Vgg3z4" BEL
        "u_logic/Gfg3z4" BEL "u_logic/Rdg3z4" BEL "u_logic/Nag3z4" BEL
        "u_logic/Ccg3z4" BEL "u_logic/O2g3z4" BEL "u_logic/Z0g3z4" BEL
        "u_logic/Kzf3z4" BEL "u_logic/Vxf3z4" BEL "u_logic/Uuf3z4" BEL
        "u_logic/Ftf3z4" BEL "u_logic/Bqf3z4" BEL "u_logic/Mof3z4" BEL
        "u_logic/Qrf3z4" BEL "u_logic/Xmf3z4" BEL "u_logic/Ilf3z4" BEL
        "u_logic/Tjf3z4" BEL "u_logic/Eif3z4" BEL "u_logic/Pgf3z4" BEL
        "u_logic/Aff3z4" BEL "u_logic/Wbf3z4" BEL "u_logic/Ldf3z4" BEL
        "u_logic/Hue3z4" BEL "u_logic/Tse3z4" BEL "u_logic/Fre3z4" BEL
        "u_logic/Rpe3z4" BEL "u_logic/U9e3z4" BEL "u_logic/F8e3z4" BEL
        "u_logic/Ibe3z4" BEL "u_logic/Q6e3z4" BEL "u_logic/B5e3z4" BEL
        "u_logic/M3e3z4" BEL "u_logic/X1e3z4" BEL "u_logic/I0e3z4" BEL
        "u_logic/Tyd3z4" BEL "u_logic/Pvd3z4" BEL "u_logic/Aud3z4" BEL
        "u_logic/Exd3z4" BEL "u_logic/Lsd3z4" BEL "u_logic/Wqd3z4" BEL
        "u_logic/Hpd3z4" BEL "u_logic/Snd3z4" BEL "u_logic/H3d3z4" BEL
        "u_logic/T1d3z4" BEL "u_logic/E0d3z4" BEL "u_logic/Qyc3z4" BEL
        "u_logic/Cxc3z4" BEL "u_logic/Nfb3z4" BEL "u_logic/J7b3z4" BEL
        "u_logic/Mka3z4" BEL "u_logic/Gha3z4" BEL "u_logic/Qfa3z4" BEL
        "u_logic/Wia3z4" BEL "u_logic/Aea3z4" BEL "u_logic/Jca3z4" BEL
        "u_logic/Taa3z4" BEL "u_logic/U5a3z4" BEL "u_logic/Vu93z4" BEL
        "u_logic/Gt93z4" BEL "u_logic/Rr93z4" BEL "u_logic/Cq93z4" BEL
        "u_logic/No93z4" BEL "u_logic/Jl93z4" BEL "u_logic/Uj93z4" BEL
        "u_logic/Fi93z4" BEL "u_logic/Bf93z4" BEL "u_logic/Md93z4" BEL
        "u_logic/Qg93z4" BEL "u_logic/Yb93z4" BEL "u_logic/Ka93z4" BEL
        "u_logic/W893z4" BEL "u_logic/G493z4" BEL "u_logic/R293z4" BEL
        "u_logic/C193z4" BEL "u_logic/Yx83z4" BEL "u_logic/Jw83z4" BEL
        "u_logic/Nz83z4" BEL "u_logic/Uu83z4" BEL "u_logic/Ft83z4" BEL
        "u_logic/Rr83z4" BEL "u_logic/Dq83z4" BEL "u_logic/Po83z4" BEL
        "u_logic/An83z4" BEL "u_logic/Wj83z4" BEL "u_logic/Hi83z4" BEL
        "u_logic/Ll83z4" BEL "u_logic/Sg83z4" BEL "u_logic/Df83z4" BEL
        "u_logic/Od83z4" BEL "u_logic/Zb83z4" BEL "u_logic/Ka83z4" BEL
        "u_logic/V883z4" BEL "u_logic/T583z4" BEL "u_logic/F483z4" BEL
        "u_logic/H783z4" BEL "u_logic/R283z4" BEL "u_logic/C183z4" BEL
        "u_logic/Nz73z4" BEL "u_logic/Yx73z4" BEL "u_logic/Jw73z4" BEL
        "u_logic/Uu73z4" BEL "u_logic/Rr73z4" BEL "u_logic/Dq73z4" BEL
        "u_logic/Ft73z4" BEL "u_logic/Po73z4" BEL "u_logic/An73z4" BEL
        "u_logic/Ll73z4" BEL "u_logic/Wj73z4" BEL "u_logic/Ii73z4" BEL
        "u_logic/Ug73z4" BEL "u_logic/Gf73z4" BEL "u_logic/Rd73z4" BEL
        "u_logic/Cc73z4" BEL "u_logic/Na73z4" BEL "u_logic/Y873z4" BEL
        "u_logic/J773z4" BEL "u_logic/U573z4" BEL "u_logic/F473z4" BEL
        "u_logic/B173z4" BEL "u_logic/Mz63z4" BEL "u_logic/Q273z4" BEL
        "u_logic/Yx63z4" BEL "u_logic/Kw63z4" BEL "u_logic/Wu63z4" BEL
        "u_logic/It63z4" BEL "u_logic/Tr63z4" BEL "u_logic/Eq63z4" BEL
        "u_logic/An63z4" BEL "u_logic/Ll63z4" BEL "u_logic/Po63z4" BEL
        "u_logic/Wj63z4" BEL "u_logic/Ii63z4" BEL "u_logic/Ug63z4" BEL
        "u_logic/Gf63z4" BEL "u_logic/Rd63z4" BEL "u_logic/Cc63z4" BEL
        "u_logic/Z863z4" BEL "u_logic/L763z4" BEL "u_logic/Na63z4" BEL
        "u_logic/X563z4" BEL "u_logic/I463z4" BEL "u_logic/T263z4" BEL
        "u_logic/E163z4" BEL "u_logic/Pz53z4" BEL "u_logic/Ay53z4" BEL
        "u_logic/Wu53z4" BEL "u_logic/Ht53z4" BEL "u_logic/Lw53z4" BEL
        "u_logic/Sr53z4" BEL "u_logic/Dq53z4" BEL "u_logic/Po53z4" BEL
        "u_logic/Bn53z4" BEL "u_logic/Nl53z4" BEL "u_logic/Zj53z4" BEL
        "u_logic/Vg53z4" BEL "u_logic/Gf53z4" BEL "u_logic/Ki53z4" BEL
        "u_logic/Rd53z4" BEL "u_logic/Cc53z4" BEL "u_logic/Na53z4" BEL
        "u_logic/Z853z4" BEL "u_logic/L753z4" BEL "u_logic/X553z4" BEL
        "u_logic/T253z4" BEL "u_logic/E153z4" BEL "u_logic/I453z4" BEL
        "u_logic/Qz43z4" BEL "u_logic/Cy43z4" BEL "u_logic/Ow43z4" BEL
        "u_logic/Zu43z4" BEL "u_logic/Kt43z4" BEL "u_logic/Vr43z4" BEL
        "u_logic/Ro43z4" BEL "u_logic/Cn43z4" BEL "u_logic/Gq43z4" BEL
        "u_logic/Nl43z4" BEL "u_logic/Yj43z4" BEL "u_logic/Ji43z4" BEL
        "u_logic/Ug43z4" BEL "u_logic/Gf43z4" BEL "u_logic/Sd43z4" BEL
        "u_logic/Ec43z4" BEL "u_logic/Qa43z4" BEL "u_logic/B943z4" BEL
        "u_logic/M743z4" BEL "u_logic/X543z4" BEL "u_logic/I443z4" BEL
        "u_logic/T243z4" BEL "u_logic/E143z4" BEL "u_logic/Cy33z4" BEL
        "u_logic/Ow33z4" BEL "u_logic/Qz33z4" BEL "u_logic/Zu33z4" BEL
        "u_logic/Kt33z4" BEL "u_logic/Vr33z4" BEL "u_logic/Hq33z4" BEL
        "u_logic/To33z4" BEL "u_logic/Fn33z4" BEL "u_logic/Bk33z4" BEL
        "u_logic/Mi33z4" BEL "u_logic/Ql33z4" BEL "u_logic/Xg33z4" BEL
        "u_logic/If33z4" BEL "u_logic/Td33z4" BEL "u_logic/Ec33z4" BEL
        "u_logic/Pa33z4" BEL "u_logic/A933z4" BEL "u_logic/X533z4" BEL
        "u_logic/J433z4" BEL "u_logic/L733z4" BEL "u_logic/V233z4" BEL
        "u_logic/H133z4" BEL "u_logic/Sz23z4" BEL "u_logic/Dy23z4" BEL
        "u_logic/Ow23z4" BEL "u_logic/Zu23z4" BEL "u_logic/Kt23z4" BEL
        "u_logic/Vr23z4" BEL "u_logic/Hq23z4" BEL "u_logic/To23z4" BEL
        "u_logic/Fn23z4" BEL "u_logic/Ql23z4" BEL "u_logic/Bk23z4" BEL
        "u_logic/Mi23z4" BEL "u_logic/Kf23z4" BEL "u_logic/Wd23z4" BEL
        "u_logic/Yg23z4" BEL "u_logic/Hc23z4" BEL "u_logic/Sa23z4" BEL
        "u_logic/D923z4" BEL "u_logic/O723z4" BEL "u_logic/Z523z4" BEL
        "u_logic/K423z4" BEL "u_logic/G123z4" BEL "u_logic/Rz13z4" BEL
        "u_logic/V223z4" BEL "u_logic/Cy13z4" BEL "u_logic/Ow13z4" BEL
        "u_logic/Av13z4" BEL "u_logic/Mt13z4" BEL "u_logic/Yr13z4" BEL
        "u_logic/Jq13z4" BEL "u_logic/Fn13z4" BEL "u_logic/Ql13z4" BEL
        "u_logic/Uo13z4" BEL "u_logic/Bk13z4" BEL "u_logic/Mi13z4" BEL
        "u_logic/Yg13z4" BEL "u_logic/Kf13z4" BEL "u_logic/Wd13z4" BEL
        "u_logic/Hc13z4" BEL "u_logic/Sa13z4" BEL "u_logic/E913z4" BEL
        "u_logic/Q713z4" BEL "u_logic/B613z4" BEL "u_logic/M413z4" BEL
        "u_logic/X213z4" BEL "u_logic/I113z4" BEL "u_logic/Tz03z4" BEL
        "u_logic/Pw03z4" BEL "u_logic/Bv03z4" BEL "u_logic/Ey03z4" BEL
        "u_logic/Nt03z4" BEL "u_logic/Zr03z4" BEL "u_logic/Lq03z4" BEL
        "u_logic/Wo03z4" BEL "u_logic/Hn03z4" BEL "u_logic/Sl03z4" BEL
        "u_logic/Qi03z4" BEL "u_logic/Ch03z4" BEL "u_logic/Ek03z4" BEL
        "u_logic/Nf03z4" BEL "u_logic/Yd03z4" BEL "u_logic/Kc03z4" BEL
        "u_logic/Wa03z4" BEL "u_logic/H903z4" BEL "u_logic/S703z4" BEL
        "u_logic/O403z4" BEL "u_logic/Z203z4" BEL "u_logic/D603z4" BEL
        "u_logic/K103z4" BEL "u_logic/Vzz2z4" BEL "u_logic/Hyz2z4" BEL
        "u_logic/Twz2z4" BEL "u_logic/Fvz2z4" BEL "u_logic/Rtz2z4" BEL
        "u_logic/Nqz2z4" BEL "u_logic/Yoz2z4" BEL "u_logic/Csz2z4" BEL
        "u_logic/Knz2z4" BEL "u_logic/Wlz2z4" BEL "u_logic/Ikz2z4" BEL
        "u_logic/Tiz2z4" BEL "u_logic/Ehz2z4" BEL "u_logic/Pfz2z4" BEL
        "u_logic/Mcz2z4" BEL "u_logic/Yaz2z4" BEL "u_logic/Aez2z4" BEL
        "u_logic/Wzy2z4" BEL "u_logic/Hxx2z4" BEL "u_logic/Jcw2z4" BEL
        "u_logic/Fxv2z4" BEL "u_logic/Rvv2z4" BEL "u_logic/Duv2z4" BEL
        "u_logic/Arv2z4" BEL "u_logic/Lpv2z4" BEL "u_logic/Psv2z4" BEL
        "u_logic/Wnv2z4" BEL "u_logic/Hmv2z4" BEL "u_logic/Skv2z4" BEL
        "u_logic/Djv2z4" BEL "u_logic/Ohv2z4" BEL "u_logic/Zfv2z4" BEL
        "u_logic/Vcv2z4" BEL "u_logic/Hbv2z4" BEL "u_logic/Kev2z4" BEL
        "u_logic/T9v2z4" BEL "u_logic/F8v2z4" BEL "u_logic/R6v2z4" BEL
        "u_logic/C5v2z4" BEL "u_logic/N3v2z4" BEL "u_logic/Y1v2z4" BEL
        "u_logic/J0v2z4" BEL "u_logic/Uyu2z4" BEL "u_logic/Fxu2z4" BEL
        "u_logic/Rvu2z4" BEL "u_logic/Duu2z4" BEL "u_logic/Psu2z4" BEL
        "u_logic/Aru2z4" BEL "u_logic/Lpu2z4" BEL "u_logic/Imu2z4" BEL
        "u_logic/Uku2z4" BEL "u_logic/Wnu2z4" BEL "u_logic/Gju2z4" BEL
        "u_logic/Rhu2z4" BEL "u_logic/Cgu2z4" BEL "u_logic/Neu2z4" BEL
        "u_logic/Ycu2z4" BEL "u_logic/Jbu2z4" BEL "u_logic/F8u2z4" BEL
        "u_logic/Q6u2z4" BEL "u_logic/U9u2z4" BEL "u_logic/B5u2z4" BEL
        "u_logic/M3u2z4" BEL "u_logic/Y1u2z4" BEL "u_logic/K0u2z4" BEL
        "u_logic/Wyt2z4" BEL "u_logic/Ixt2z4" BEL "u_logic/Eut2z4" BEL
        "u_logic/Pst2z4" BEL "u_logic/Tvt2z4" BEL "u_logic/Art2z4" BEL
        "u_logic/Lpt2z4" BEL "u_logic/Wnt2z4" BEL "u_logic/Imt2z4" BEL
        "u_logic/Ukt2z4" BEL "u_logic/Gjt2z4" BEL "u_logic/Cgt2z4" BEL
        "u_logic/Rds2z4" BEL "u_logic/Rht2z4" BEL "u_logic/Dcs2z4" BEL
        "u_logic/Oas2z4" BEL "u_logic/Z8s2z4" BEL "u_logic/K7s2z4" BEL
        "u_logic/W5s2z4" BEL "u_logic/I4s2z4" BEL "u_logic/Eyr2z4" BEL
        "u_logic/Qwr2z4" BEL "u_logic/U2s2z4" BEL "u_logic/Cvr2z4" BEL
        "u_logic/Otr2z4" BEL "u_logic/Asr2z4" BEL "u_logic/Lqr2z4" BEL
        "u_logic/Wor2z4" BEL "u_logic/Hnr2z4" BEL "u_logic/Zgr2z4" BEL
        "u_logic/Kfr2z4" BEL "u_logic/Oir2z4" BEL "u_logic/Vdr2z4" BEL
        "u_logic/Gcr2z4" BEL "u_logic/I7r2z4" BEL "u_logic/U5r2z4" BEL
        "u_logic/G4r2z4" BEL "u_logic/S2r2z4" BEL "u_logic/Qzq2z4" BEL
        "u_logic/Eqq2z4" BEL "u_logic/E1r2z4" BEL "u_logic/Poq2z4" BEL
        "u_logic/Anq2z4" BEL "u_logic/Kiq2z4" BEL "u_logic/Vgq2z4" BEL
        "u_logic/Gfq2z4" BEL "u_logic/Rdq2z4" BEL "u_logic/Ccq2z4" BEL
        "u_logic/Naq2z4" BEL "u_logic/U5q2z4" BEL "u_logic/F4q2z4" BEL
        "u_logic/Q2q2z4" BEL "u_logic/B1q2z4" BEL "u_logic/Mzp2z4" BEL
        "u_logic/Uup2z4" BEL "u_logic/Ilp2z4" BEL "u_logic/Ujp2z4" BEL
        "u_logic/Wmp2z4" BEL "u_logic/Gip2z4" BEL "u_logic/Sgp2z4" BEL
        "u_logic/Ecp2z4" BEL "u_logic/Pap2z4" BEL "u_logic/A9p2z4" BEL
        "u_logic/S2p2z4" BEL "u_logic/Ozo2z4" BEL "u_logic/Zxo2z4" BEL
        "u_logic/D1p2z4" BEL "u_logic/Kwo2z4" BEL "u_logic/Vuo2z4" BEL
        "u_logic/Gto2z4" BEL "u_logic/Rro2z4" BEL "u_logic/Noo2z4" BEL
        "u_logic/Ymo2z4" BEL "u_logic/Ujo2z4" BEL "u_logic/Fio2z4" BEL
        "u_logic/Jlo2z4" BEL "u_logic/Gdo2z4" BEL "u_logic/Rbo2z4" BEL
        "u_logic/Cao2z4" BEL "u_logic/N8o2z4" BEL "u_logic/Y6o2z4" BEL
        "u_logic/J5o2z4" BEL "u_logic/Ixn2z4" BEL "u_logic/Tvn2z4" BEL
        "u_logic/Eun2z4" BEL "u_logic/Psn2z4" BEL "u_logic/Arn2z4" BEL
        "u_logic/Cmn2z4" BEL "u_logic/Okn2z4" BEL "u_logic/Ajn2z4" BEL
        "u_logic/Yfn2z4" BEL "u_logic/Zcn2z4" BEL "u_logic/Mhn2z4" BEL
        "u_logic/R6n2z4" BEL "u_logic/C5n2z4" BEL "u_logic/N3n2z4" BEL
        "u_logic/Y1n2z4" BEL "u_logic/J0n2z4" BEL "u_logic/Mvm2z4" BEL
        "u_logic/Ksm2z4" BEL "u_logic/Wqm2z4" BEL "u_logic/Ytm2z4" BEL
        "u_logic/Ipm2z4" BEL "u_logic/Unm2z4" BEL "u_logic/Gmm2z4" BEL
        "u_logic/Skm2z4" BEL "u_logic/Ejm2z4" BEL "u_logic/Fgm2z4" BEL
        "u_logic/X6m2z4" BEL "u_logic/J5m2z4" BEL "u_logic/V3m2z4" BEL
        "u_logic/H2m2z4" BEL "u_logic/T0m2z4" BEL "u_logic/Fzl2z4" BEL
        "u_logic/Grl2z4" BEL "u_logic/Spl2z4" BEL "u_logic/Eol2z4" BEL
        "u_logic/Qml2z4" BEL "u_logic/Cll2z4" BEL "u_logic/Xhl2z4" BEL
        "u_logic/Igl2z4" BEL "u_logic/Tel2z4" BEL "u_logic/Edl2z4" BEL
        "u_logic/Pbl2z4" BEL "u_logic/Zkk2z4" BEL "u_logic/Kjk2z4" BEL
        "u_logic/Svk2z4" BEL "u_logic/Vhk2z4" BEL "u_logic/Ggk2z4" BEL
        "u_logic/Rek2z4" BEL "u_logic/D7k2z4" BEL "u_logic/O5k2z4" BEL
        "u_logic/Z3k2z4" BEL "u_logic/V0k2z4" BEL "u_logic/Txj2z4" BEL
        "u_logic/K2k2z4" BEL "u_logic/Fwj2z4" BEL "u_logic/Ruj2z4" BEL
        "u_logic/Dtj2z4" BEL "u_logic/Orj2z4" BEL "u_logic/Zpj2z4" BEL
        "u_logic/Koj2z4" BEL "u_logic/Glj2z4" BEL "u_logic/Sjj2z4" BEL
        "u_logic/Vmj2z4" BEL "u_logic/F9j2z4" BEL "u_logic/M4j2z4" BEL
        "u_logic/X2j2z4" BEL "u_logic/M1j2z4" BEL "u_logic/Xti2z4" BEL
        "u_logic/Isi2z4" BEL "u_logic/Rni2z4" BEL "u_logic/Igi2z4" BEL
        "u_logic/Fpi2z4" BEL "u_logic/Gci2z4" BEL "u_logic/J6i2z4" BEL
        "u_logic/Ypi3z4" BEL "u_logic/I6h3z4" BEL "u_logic/Q4h3z4" BEL
        "u_logic/D4g3z4" BEL "u_logic/C7f3z4" BEL "u_logic/H2f3z4" BEL
        "u_logic/T8f3z4" BEL "u_logic/Q0f3z4" BEL "u_logic/Vve3z4" BEL
        "u_logic/Ble3z4" BEL "u_logic/Jje3z4" BEL "u_logic/Lee3z4" BEL
        "u_logic/Ztc3z4" BEL "u_logic/Tqc3z4" BEL "u_logic/Dpc3z4" BEL
        "u_logic/Jsc3z4" BEL "u_logic/Nnc3z4" BEL "u_logic/Ylc3z4" BEL
        "u_logic/Jkc3z4" BEL "u_logic/Uic3z4" BEL "u_logic/Fhc3z4" BEL
        "u_logic/Qfc3z4" BEL "u_logic/Mcc3z4" BEL "u_logic/Vac3z4" BEL
        "u_logic/Bec3z4" BEL "u_logic/E9c3z4" BEL "u_logic/N7c3z4" BEL
        "u_logic/W5c3z4" BEL "u_logic/F4c3z4" BEL "u_logic/O2c3z4" BEL
        "u_logic/X0c3z4" BEL "u_logic/Gzb3z4" BEL "u_logic/Pxb3z4" BEL
        "u_logic/Yvb3z4" BEL "u_logic/Hub3z4" BEL "u_logic/Qsb3z4" BEL
        "u_logic/Zqb3z4" BEL "u_logic/Ipb3z4" BEL "u_logic/Rnb3z4" BEL
        "u_logic/Jhy2z4" BEL "u_logic/U5x2z4" BEL "u_logic/Lz93z4" BEL
        "u_logic/Vaw2z4" BEL "u_logic/U7w2z4" BEL "u_logic/I6w2z4" BEL
        "u_logic/Uyv2z4" BEL "u_logic/L8t2z4" BEL "u_logic/A4t2z4" BEL
        "u_logic/Oar2z4" BEL "u_logic/W8r2z4" BEL "u_logic/Ffs2z4" BEL
        "u_logic/Wuq2z4" BEL "u_logic/Etq2z4" BEL "u_logic/Trq2z4" BEL
        "u_logic/Kop2z4" BEL "u_logic/Tdp2z4" BEL "u_logic/V3o2z4" BEL
        "u_logic/Qnn2z4" BEL "u_logic/Rym2z4" BEL "u_logic/Ipn2z4" BEL
        "u_logic/Thm2z4" BEL "u_logic/Nbm2z4" BEL "u_logic/Cam2z4" BEL
        "u_logic/Lul2z4" BEL "u_logic/Mjl2z4" BEL "u_logic/Y9l2z4" BEL
        "u_logic/Gxk2z4" BEL "u_logic/Nsk2z4" BEL "u_logic/K3l2z4" BEL
        "u_logic/Ark2z4" BEL "u_logic/Npk2z4" BEL "u_logic/Aok2z4" BEL
        "u_logic/Idk2z4" BEL "u_logic/Wbk2z4" BEL "u_logic/Hzj2z4" BEL
        "u_logic/Sgj2z4" BEL "u_logic/Ffj2z4" BEL "u_logic/Fij2z4" BEL
        "u_logic/Uaj2z4" BEL "u_logic/Ywi2z4" BEL "u_logic/Mvi2z4" BEL
        "u_logic/Emi2z4" BEL "u_logic/Tki2z4" BEL "u_logic/Gji2z4" BEL
        "u_logic/Lgi3z4" BEL "u_logic/Uei3z4" BEL "u_logic/Z7i2z4" BEL
        "u_logic/Ddi3z4" BEL "u_logic/Rbi3z4" BEL "u_logic/S3i3z4" BEL
        "u_logic/Ohh3z4" BEL "u_logic/Zfh3z4" BEL "u_logic/Z2h3z4" BEL
        "u_logic/B9g3z4" BEL "u_logic/K7g3z4" BEL "u_logic/Tzg3z4" BEL
        "u_logic/Jwf3z4" BEL "u_logic/Kaf3z4" BEL "u_logic/M5f3z4" BEL
        "u_logic/Aze3z4" BEL "u_logic/Foe3z4" BEL "u_logic/Tme3z4" BEL
        "u_logic/She3z4" BEL "u_logic/Wce3z4" BEL "u_logic/Gmd3z4" BEL
        "u_logic/Rkd3z4" BEL "u_logic/V4d3z4" BEL "u_logic/Ovc3z4" BEL
        "u_logic/Dhb3z4" BEL "u_logic/Z8b3z4" BEL "u_logic/M2b3z4" BEL
        "u_logic/W0b3z4" BEL "u_logic/C4b3z4" BEL "u_logic/Gza3z4" BEL
        "u_logic/Qxa3z4" BEL "u_logic/Zva3z4" BEL "u_logic/Iua3z4" BEL
        "u_logic/Rsa3z4" BEL "u_logic/Ara3z4" BEL "u_logic/Xx93z4" BEL
        "u_logic/Jw93z4" BEL "u_logic/Jpa3z4" BEL "u_logic/Ym93z4" BEL
        "u_logic/I793z4" BEL "u_logic/U593z4" BEL "u_logic/K9z2z4" BEL
        "u_logic/W7z2z4" BEL "u_logic/I6z2z4" BEL "u_logic/C3z2z4" BEL
        "u_logic/K1z2z4" BEL "u_logic/U4z2z4" BEL "u_logic/Hyy2z4" BEL
        "u_logic/Swy2z4" BEL "u_logic/Dvy2z4" BEL "u_logic/Pty2z4" BEL
        "u_logic/Bsy2z4" BEL "u_logic/Nqy2z4" BEL "u_logic/Lny2z4" BEL
        "u_logic/Xly2z4" BEL "u_logic/Zoy2z4" BEL "u_logic/Jky2z4" BEL
        "u_logic/Viy2z4" BEL "u_logic/Ufy2z4" BEL "u_logic/Fey2z4" BEL
        "u_logic/Qcy2z4" BEL "u_logic/Bby2z4" BEL "u_logic/Y7y2z4" BEL
        "u_logic/K6y2z4" BEL "u_logic/M9y2z4" BEL "u_logic/W4y2z4" BEL
        "u_logic/I3y2z4" BEL "u_logic/T1y2z4" BEL "u_logic/F0y2z4" BEL
        "u_logic/Tyx2z4" BEL "u_logic/Vvx2z4" BEL "u_logic/Xsx2z4" BEL
        "u_logic/Lrx2z4" BEL "u_logic/Jux2z4" BEL "u_logic/Zpx2z4" BEL
        "u_logic/Nox2z4" BEL "u_logic/Bnx2z4" BEL "u_logic/Plx2z4" BEL
        "u_logic/Dkx2z4" BEL "u_logic/Rix2z4" BEL "u_logic/Ufx2z4" BEL
        "u_logic/Jex2z4" BEL "u_logic/Fhx2z4" BEL "u_logic/Ycx2z4" BEL
        "u_logic/Nbx2z4" BEL "u_logic/Cax2z4" BEL "u_logic/R8x2z4" BEL
        "u_logic/G7x2z4" BEL "u_logic/J4x2z4" BEL "u_logic/U2x2z4" BEL
        "u_logic/F1x2z4" BEL "u_logic/Qzw2z4" BEL "u_logic/Byw2z4" BEL
        "u_logic/Mww2z4" BEL "u_logic/Xuw2z4" BEL "u_logic/Itw2z4" BEL
        "u_logic/Urw2z4" BEL "u_logic/Sow2z4" BEL "u_logic/Enw2z4" BEL
        "u_logic/Gqw2z4" BEL "u_logic/Qlw2z4" BEL "u_logic/Ckw2z4" BEL
        "u_logic/Oiw2z4" BEL "u_logic/Ahw2z4" BEL "u_logic/Mfw2z4" BEL
        "u_logic/Ydw2z4" BEL "u_logic/R1w2z4" BEL "u_logic/G0w2z4" BEL
        "u_logic/G9w2z4" BEL "u_logic/O5t2z4" BEL "u_logic/I2t2z4" BEL
        "u_logic/G1s2z4" BEL "u_logic/Szr2z4" BEL "u_logic/Slr2z4" BEL
        "u_logic/Dkr2z4" BEL "u_logic/Owq2z4" BEL "u_logic/Llq2z4" BEL
        "u_logic/Cyq2z4" BEL "u_logic/Zjq2z4" BEL "u_logic/Y8q2z4" BEL
        "u_logic/J7q2z4" BEL "u_logic/Iwp2z4" BEL "u_logic/Gtp2z4" BEL
        "u_logic/Efp2z4" BEL "u_logic/W5p2z4" BEL "u_logic/H4p2z4" BEL
        "u_logic/L7p2z4" BEL "u_logic/Cqo2z4" BEL "u_logic/Ogo2z4" BEL
        "u_logic/Xeo2z4" BEL "u_logic/F2o2z4" BEL "u_logic/O0o2z4" BEL
        "u_logic/Lbn2z4" BEL "u_logic/Bdm2z4" BEL "u_logic/Rxl2z4" BEL
        "u_logic/Qem2z4" BEL "u_logic/Dwl2z4" BEL "u_logic/V1l2z4" BEL
        "u_logic/J0l2z4" BEL "u_logic/Xyk2z4" BEL "u_logic/Auk2z4" BEL
        "u_logic/Omk2z4" BEL "u_logic/S8k2z4" BEL "u_logic/Qdj2z4" BEL
        "u_logic/Hak2z4" BEL "u_logic/Fcj2z4" BEL "u_logic/Q7j2z4" BEL
        "u_logic/B6j2z4" BEL "u_logic/Yzi2z4" BEL "u_logic/Kyi2z4" BEL
        "u_logic/Rhi2z4" BEL "u_logic/Wai2z4" BEL "u_logic/H9i2z4" BEL
        "u_logic/Pdi2z4" BEL "u_logic/Sgj2z4_1" BEL "HCLK_BUFGP/BUFG";
TS_HCLK = PERIOD TIMEGRP "HCLK" 20 ns HIGH 50%;
SCHEMATIC END;

